@mixin bgactivate {
    background-color: #CFE7F3;
    cursor: pointer;
}

.col-3 {
    width: 260px;
}

li {
    font-size: 14px;
    list-style-type: none;
    color: rgb(54, 53, 53);
}

.name {
    font-size: 16px;
    color: black;
}

a {
    &:hover {
        @include bgactivate;
    }
}

.activePerson {
    @include bgactivate;
}