<!-- <div class="m-0 p-0">
    <ngx-skeleton-loader *ngIf="loading" [theme]="{width: '100%',height: '8px','background-color': '#3398CC'}"></ngx-skeleton-loader>
</div> -->
<div class="row ms-2 mt-1" *ngIf="!loading">
    <h6 class="fw-bolder pt-2 pb-1" *ngIf="status">CONTACTS</h6>
    <div class="col-3">
        <div>
            <div class="list-group rounded-0 border-dark" *ngFor="let person of contactDetails">
                <a class="list-group-item list-group-item-action" [routerLink]="['/home/contacts',person?.id]" [ngClass]="{'activePerson text-dark':person?.id==id}">
                    <li class="name">{{person?.name}}</li>
                    <li>{{person?.mobile}}</li>
                    <li>{{person?.email}}</li>
                </a>
            </div>
        </div>
    </div>
    <div class="col-5 ms-4">
        <div class="addDetails ms-1">
            <form [formGroup]="detailForm" (ngSubmit)="onSubmit(detailForm.value)">
                <div class="details">
                    <label for="name" class="form-label">Name <span class="required">*</span></label>
                    <input type="text" class="form-control" id="name" name="name" formControlName="name" [ngClass]="{ 'is-invalid': detailForm.controls.name.errors && submitted}">
                    <div *ngIf="submitted && detailForm.controls.name.errors" class="invalid-feedback">
                        <div class="errormsg" *ngIf="detailForm.controls.name.errors.required">Name is required</div>
                    </div>
                    <label for="email" class="form-label">Email <span class="required">*</span></label>
                    <input type="email" class="form-control" id="email" name="email" formControlName="email" [ngClass]="{ 'is-invalid': detailForm.controls.email.errors && submitted}">
                    <div *ngIf="submitted && detailForm.controls.email.errors" class="invalid-feedback">
                        <div class="errormsg" *ngIf="detailForm.controls.email.errors.required">Email is required</div>
                        <div class="errormsg" *ngIf="detailForm.controls.email.errors.email">Enter valid email</div>
                    </div>
                    <div class="flex-container">
                        <div>
                            <label for="mobile" class="form-label">Mobile <span class="required">*</span></label>
                            <input type="text" class="form-control" id="mobile" name="mobile" formControlName="mobile" [ngClass]="{ 'is-invalid': detailForm.controls.mobile.errors && submitted}">
                            <div *ngIf="submitted && detailForm.controls.mobile.errors" class="invalid-feedback">
                                <div class="errormsg" *ngIf="detailForm.controls.mobile.errors.required">Mobile is required</div>
                                <div class="errormsg" *ngIf="detailForm.controls.mobile.errors && !detailForm.controls.mobile.errors.required">Mobile should be 10 digits</div>
                            </div>
                        </div>
                        <div style="margin-left: 6px;margin-top: 3px;">
                            <label for="landline" class="form-label">Landline</label>
                            <input type="text" class="form-control" id="landline" name="landline" formControlName="landline">
                        </div>
                    </div>
                    <label for="website" class="form-label">Website</label>
                    <input type="text" class="form-control" id="website" name="website" formControlName="website">
                    <label for="address" class="form-label">Address</label>
                    <textarea class="form-control" id="address" name="address" rows="2" formControlName="address"></textarea>
                </div>
                <div style="float: right;">
                    <input type="submit" class="btnAdd" value="Add">
                </div>
            </form>
        </div>
    </div>
</div>

<div *ngIf="loading">
    <img class="rounded mx-auto d-block" src="../../../../assets/images/loader.gif" alt="loader" height="300px">
</div>