.list-group {
    li {
        list-style-type: none;
        font-size: 14px;
    }
}

.options {
    margin-right: 5px;
    margin-left: 3px;
    font-size: 14px;
    cursor: pointer;
}

img {
    cursor: pointer;
}