<h6 *ngIf="contactDetails.length!=0">CONTACTS</h6>
<div class="row" *ngIf="contactDetails.length!=0">
    <div class="col-3">
        <div class="list-group rounded-0" *ngFor="let person of contactDetails">
            <a class="list-group-item list-group-item-action" [routerLink]="['/home',person.id]" routerLinkActive="activePerson text-dark">
                <li class="name">{{person.name}}</li>
                <li>{{person.mobile}}</li>
                <li>{{person.email}}</li>
            </a>
        </div>
    </div>
    <div class="col-9 ms-3">
        <router-outlet></router-outlet>
    </div>
</div>


<div class="text-center mt-5 " *ngIf="contactDetails.length==0">
    <span class="display-6 text-danger "><i class="fas fa-info-circle me-3 "></i>No Contacts To Display</span>
</div>