.list-group {
    li {
        list-style-type: none;
        font-size: 14px;
        padding: 2px 0px;
    }
}

.options {
    margin-right: 5px;
    margin-left: 4px;
    font-size: 14px;
    cursor: pointer;
}

img {
    cursor: pointer;
}

pre {
    padding-top: 1.5px;
    font-size: 14px;
    font-family: sans-serif;
}